<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.864.35" targetFramework="net48" />
  <package id="Stimulsoft.Reports.Engine" version="2022.1.6" targetFramework="net48" />
  <package id="Stimulsoft.Reports.Net" version="2022.1.6" targetFramework="net48" />
  <package id="Stimulsoft.Svg" version="2022.1.1" targetFramework="net48" />
</packages>